form {
    font-size: 2em;
    display: flex;
    margin :0px auto;
    width: fit-content;
    align-items: center;
}
form > * {
    margin-right: 20px;
}
form  input {
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: lightgray;
    font-size: 0.7em;
    width: 40px;
}
form > button {
    padding: 10px 30px;
    border-radius: 10px;
    border: none;
    font-size: 0.7em;
    background-color: blue;
    color: white;
}
form select {
    padding: 10px 20px;
    font-size: 0.7em;
    background-color: lightgray;
    border-radius: 10px;
    border: none;
    width: 200px;
}
